* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: whitesmoke;
}

.title {
  margin-top: 40px;
}

.wrapper {
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  color: blue;
}


.list:hover {
  color: black;
}

.list-item {
  border-top: 1px solid rgb(104, 104, 104);
  list-style-type: none;
  display: block;
  text-align: start;
  font-size: 24px;
}

.mem-img {
  margin: 10px 0px;
  min-width: 600px;
  opacity: 0;
  transform: translateY(-300px);
  transition: transform 1s, opacity 2s;
  cursor: pointer;
  width: 100%;
  border-radius: 50px;
  height: 0px;
}

.mem-label {
  display: block;
  overflow: hidden;
  width: 100%;
}

.mem-input {
  display: none;
}

/* HOVER */

.mem-input-1:hover + .mem-label-1 > .mem-img-1 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-2:hover + .mem-label-2 > .mem-img-2 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-3:hover + .mem-label-3 > .mem-img-3 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-4:hover + .mem-label-4 > .mem-img-4 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-5:hover + .mem-label-5 > .mem-img-5 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

/* CHECKED */

.mem-input-1:checked + .mem-label-1 > .mem-img-1 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-2:checked + .mem-label-2 > .mem-img-2 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-3:checked + .mem-label-3 > .mem-img-3 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-4:checked + .mem-label-4 > .mem-img-4 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}

.mem-input-5:checked + .mem-label-5 > .mem-img-5 {
  opacity: 1;
  height: auto;
  transform: translateY(0px);
}